@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, rgb(140, 69, 254), blue);
}

.main-container {
    width: 100%;* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .main-container {
        width: 100%;
        min-height: 100vh;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .title h1{
        color: #ffffff;
        text-align: center;
        font-size: 5em;
      }
    
      .title p{
        color: #ffffff;
        text-align: center;
        font-size: 2em;
      }
    min-height: 100vh;
}

.title {
    color: #fff;
    margin-top:1.5cm;
    
}

.input-container {
    text-align: center;
    padding-top: 1.6rem;
}

.text-box {
    border-radius: 0.5rem;
    background-color: transparent;
    height: 1cm;
    border-color: white;
    border-width: 0.09cm;
    border-style: solid;
    text-align: center;
}

.text-box::placeholder {
    color: white;
}

.submit-button {
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom right, rgb(140, 69, 254), blue);
    width: 5cm;
    height: 1cm;
    border-color: white;
    border-width: 0.09cm;
    border-style: solid;
    text-align: center;
    margin-top: 1.5cm;
    color:white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.submit-button:hover {
  background-image: linear-gradient(to bottom right, blue, rgb(140, 69, 254));
  transition: ease-in;
  transform: translateY(-3px)
}

.submit-button:after {
  content: "";
  background: linear-gradient(to bottom right, blue, rgb(140, 69, 254));
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.submit-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button-container {
  text-align: center;
}
